## Ejemplo 03: Unión de Dataframes
En este ejemplo vamos a unir dataframes de diferentes formas. Primero importamos pandas, numpy, y creamos dos dataframes Dummy: df1 y df2

In [6]:
import pandas as pd
import numpy as np

In [10]:
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                    'B': ['B0', 'B1', 'B2', 'B3'],
                    'C': ['C0', 'C1', 'C2', 'C3'],
                    'D': ['D0', 'D1', 'D2', 'D3']}
                  )

df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
                    'B': ['B4', 'B5', 'B6', 'B7'],
                    'C': ['C4', 'C5', 'C6', 'C7'],
                    'D': ['D4', 'D5', 'D6', 'D7']}
                  )
print(df1)
print(df2)

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3
    A   B   C   D
0  A4  B4  C4  D4
1  A5  B5  C5  D5
2  A6  B6  C6  D6
3  A7  B7  C7  D7

La operación concat permite unir dos dataframes uno debajo del otro, de tal manera que si tienes dos bases de datos con muestras diferentes, une las dos bases de datos.

In [11]:
resultado_concat = pd.concat([df1, df2], ignore_index = True)
resultado_concat

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3
4  A4  B4  C4  D4
5  A5  B5  C5  D5
6  A6  B6  C6  D6
7  A7  B7  C7  D7

La operación "concat" trata los dos dataframes como contenedores de las mismas muestras, pero que tienen variables diferentes, lo cual hace que se unan en un solo dataframe

In [13]:
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                    'B': ['B0', 'B1', 'B2', 'B3'],
                    'C': ['C0', 'C1', 'C2', 'C3'],
                    'D': ['D0', 'D1', 'D2', 'D3']}
                  )

df2 = pd.DataFrame({'E': ['E4', 'E5', 'E6', 'E7'],
                    'F': ['F4', 'F5', 'F6', 'F7'],
                    'G': ['G4', 'G5', 'G6', 'G7'],
                    'H': ['H4', 'H5', 'H6', 'H7']}
                  )
print(df1)
print(df2)

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3
    E   F   G   H
0  E4  F4  G4  H4
1  E5  F5  G5  H5
2  E6  F6  G6  H6
3  E7  F7  G7  H7

In [14]:
resultado_join = pd.concat([df1,df2], axis = 1, ignore_index = True)
resultado_join

    0   1   2   3   4   5   6   7
0  A0  B0  C0  D0  E4  F4  G4  H4
1  A1  B1  C1  D1  E5  F5  G5  H5
2  A2  B2  C2  D2  E6  F6  G6  H6
3  A3  B3  C3  D3  E7  F7  G7  H7

## Merge (Similar a Join de SQL)
Con el merge, puedes unir dos dataframes por alguna columna que tengan en común, por ejemplo el nombre: Si el nombre coincide, se hará el merge. Por ejemplo, en estos dos dataframes los nombres no se encuentran alineados

In [15]:
df_telefonos = pd.DataFrame({'nombre_t':['Juan', 'Luis', 'Maria', 'Ricardo'],
                            'telefono':[111111111,22222222,33333333,44444444]});
df_edades = pd.DataFrame({'nombre_e':['Luis', 'Juan', 'Maria', 'Ricardo'],
                            'telefono':[18,26,42,31]});

In [16]:
df_resultado = df_telefonos.merge(df_edades,left_on='nombre_t',right_on='nombre_e')
df_resultado

  nombre_t  telefono_x nombre_e  telefono_y
0     Juan   111111111     Juan          26
1     Luis    22222222     Luis          18
2    Maria    33333333    Maria          42
3  Ricardo    44444444  Ricardo          31