## Reto 03 
Crea varios dataframes y unelos por medio de merge. Esto es útil para cuando deseas unir dataframes con órdenes desiguales.

In [1]:
import pandas as pd

In [2]:
df_telefonos = pd.DataFrame({'nombre_t':['Juan', 'Luis', 'Maria', 'Ricardo'],
                            'telefono':[111111111,22222222,33333333,44444444]});
df_edades = pd.DataFrame({'nombre_e':['Luis', 'Juan', 'Maria', 'Ricardo'],
                            'edad':[18,26,42,31]});
df_correos = pd.DataFrame({'nombre_c':['Luis', 'Juan', 'Maria', 'Ricardo'],
                            'email':["luis@gmail.com","juan@gmail.com","maria@yahoo.com","ricardo@hotmail.com"]});
df_estadocivil = pd.DataFrame({'nombre_ec':['Luis', 'Juan', 'Maria', 'Ricardo'],
                            'estado civil':["Soltero","Casado","Soltero","Divorciado"]});

In [3]:
df_resultado = df_telefonos.merge(df_edades,left_on='nombre_t',right_on='nombre_e')
df_resultado = df_resultado.merge(df_correos,left_on='nombre_t',right_on='nombre_c')
df_resultado = df_resultado.merge(df_estadocivil,left_on='nombre_t',right_on='nombre_ec')
df_resultado

,nombre_t,telefono,edad,nombre_e,email,nombre_c,estado civil,nombre_ec
0,Juan,111111111,26,Juan,juan@gmail.com,Juan,Casado,Juan
1,Luis,22222222,18,Luis,luis@gmail.com,Luis,Soltero,Luis
2,Maria,33333333,42,Maria,maria@yahoo.com,Maria,Soltero,Maria
3,Ricardo,44444444,31,Ricardo,ricardo@hotmail.com,Ricardo,Divorciado,Ricardo

In [4]:
df_resultado = df_resultado[['nombre_t','telefono','edad','email','estado civil']]
df_resultado

  nombre_t   telefono  edad                email estado civil
0     Juan  111111111    26       juan@gmail.com       Casado
1     Luis   22222222    18       luis@gmail.com      Soltero
2    Maria   33333333    42      maria@yahoo.com      Soltero
3  Ricardo   44444444    31  ricardo@hotmail.com   Divorciado